<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juiniot.modules.dao.mapper.recharge.RechargeListMapper">

  <!-- 以下配置是系统自动生成的 -->

  <!-- 显示的记录对应的列-->
  <sql id="RechargeListColumns" >
		    rechargelist.id as id,rechargelist.user_id as userId,rechargelist.recharge_time as rechargeTime,userlist.account as account,userlist.tree_code as treeCode,rechargelist.price as price
  </sql>
  
  
  <!-- 列表对应的查询条件组合  -->
  <sql id="queryOptions">
       <where>
            	  <if test="paramMap.rechargeTime != null"> AND rechargelist.recharge_time = #{paramMap.rechargeTime}</if><if test="paramMap.rechargeTime1 != null"> AND rechargelist.recharge_time &gt;= #{paramMap.rechargeTime1}</if><if test="paramMap.rechargeTime2!=null"> AND rechargelist.recharge_time &lt;= #{paramMap.rechargeTime2}</if>
           <if test="paramMap.userId != null"> AND rechargelist.user_id = #{paramMap.userId}</if>
           <if test="paramMap.price != null"> AND rechargelist.price = #{paramMap.price}</if>

           <if test="paramMap.account != null and paramMap.account != '' "> AND userlist.account like #{paramMap.account}</if>
           <if test="paramMap.treeCode != null and paramMap.treeCode != '' "> AND userlist.tree_code like #{paramMap.treeCode}</if>
       </where>
  </sql>


  <!-- 列表查询对应的排序选项  -->
  <sql id="orderControl">
       <if test="orderList!=null">
		  <trim prefix="ORDER BY" prefixOverrides=",">
				<foreach collection="orderList" item="order" open=""  separator="," close="" >
				   <choose> 
				       <when test="order.columnName=='rechargeTime'"> rechargelist.recharge_time ${order.type} </when> 
                       <when test="order.columnName=='price'"> rechargelist.price ${order.type} </when>
                       <when test="order.columnName=='account'"> userlist.account ${order.type} </when>
                       <when test="order.columnName=='treeCode'"> userlist.tree_code ${order.type} </when>
                       
				       <when test="order.columnName=='id'"> rechargelist.id  ${order.type}  </when>
				       
				  </choose>
			 </foreach>
		 </trim>
	   </if>
  </sql>

 
  <!-- 列表查询对应的表关系SQL  -->
  <sql id="querySqlMain">
			  recharge_list  rechargelist LEFT JOIN user_list userlist ON rechargelist.user_id = userlist.id
  </sql>

  
   
   <!-- 根据ID查询记录 -->
   <select id="findOne" resultType="com.juiniot.modules.dao.entity.recharge.RechargeListEntry">
	     SELECT  <include refid="RechargeListColumns"/>              
		    FROM <include refid="querySqlMain"/>
			where rechargelist.id=#{id}
   </select>
   


   <!-- 返回记录总数的语句 -->
   <select id="queryRechargeListsRecordCount" resultType="int">
        SELECT count(*) num  FROM  <include refid="querySqlMain"/>
        <include refid="queryOptions"/> 
   </select>
   
   
    <!-- 分页查询对应的记录 -->
   <select id="queryRechargeLists" resultType="com.juiniot.modules.dao.entity.recharge.RechargeListEntry">
      
	   SELECT <include refid="RechargeListColumns"/>   
	   		FROM <include refid="querySqlMain"/>
		         <include refid="queryOptions"/>
		         <include refid="orderControl"/>
		    LIMIT ${startRow},${pageSize} 
   </select>
   
   <!-- 不分页查询所有记录 -->
   <select id="queryAll" resultType="com.juiniot.modules.dao.entity.recharge.RechargeListEntry">
      
	   SELECT <include refid="RechargeListColumns"/>   
	   		FROM <include refid="querySqlMain"/>
		         <include refid="queryOptions"/>
		         <include refid="orderControl"/>
   </select>
   

   <!-- 新增记录 -->
   <insert id="insertRechargeList" useGeneratedKeys="true" keyProperty="rechargeList.id">

        INSERT INTO recharge_list (price,recharge_time,user_id)
        VALUES(#{rechargeList.price},#{rechargeList.rechargeTime},#{rechargeList.userId,jdbcType=NUMERIC})
           
   </insert>
   
   
   
   <!-- 更新记录 -->       
   <update id="updateRechargeList" >
           UPDATE recharge_list 
           <set>
                recharge_time=#{rechargeList.rechargeTime},
               price=#{rechargeList.price},
                user_id=#{rechargeList.userId,jdbcType=NUMERIC},
	   </set>
	       WHERE id = #{rechargeList.id}
   </update> 
   


   
   <!-- 删除记录 -->
   <delete id="deleteRechargeList">
          DELETE FROM recharge_list
          WHERE id in 
          <foreach collection="ids" item="id" open="("  separator="," close=")" >
                #{id}
          </foreach>
   </delete>
  
  
  
  <!-- 检查是字段值是否已存在 -->
   <select id="isExist" resultType="int">
   		SELECT COUNT(1) FROM recharge_list WHERE ${columnName} = #{columnValue}
   		<if test="id != null">
   			AND id != #{id}
   		</if>
   </select>


   
   <!-- 以下是自定义的配置信息，配置要写上注释用途 -->

<!--    &lt;!&ndash; 分页查询对应的记录 &ndash;&gt;-->
<!--    <select id="queryRechargeLists" resultType="com.juiniot.modules.dao.entity.recharge.RechargeListEntry">-->

<!--        SELECT <include refid="RechargeListColumns"/>-->
<!--        FROM <include refid="querySqlMain"/>-->
<!--        <include refid="queryOptions"/>-->
<!--        <include refid="orderControl"/>-->
<!--        LIMIT ${startRow},${pageSize}-->
<!--    </select>-->
   
   

</mapper>



